#technologies h1, #ides h1, #todos h1 {
    font-size: 1.2em;
    color: var(--light-text);
    border-radius: 10px 10px 0px 0px;
}

#technologies p, #ides p, #todos p {
    font-size: 1em;
    color: var(--dark-text);
    margin-top: 0;
    margin-bottom: 10px;
}

.line-highlight {
    color: var(--darker-bg);
    background: var(--darker-bg) !important;
    width: max-content;
    padding: 10px;
}

.underline {
    height: 3px;
    width: 100%;
    background: var(--darker-bg) !important;
    margin-bottom: 10px;
}
