.carousel img {
	border-radius: 15px;
}

.carousel-indicators .active {
	background-color: var(--dark-text);
	opacity: 1;
}

.carousel-indicators li {
	background-color: var(--dark-text);
	opacity: 0.5;
}

.carousel-caption {
	color: var(--dark-text);
	bottom: -65px;
}

.carousel-inner {
	overflow-x: hidden;
	overflow-y: visible;
	height: 445px;
}

.carousel-control-prev {
	left: -50px;
	top: -100px;
	cursor: default;
	opacity: 0.9;
}

.carousel-control-next {
	right: -50px;
	top: -100px;
	cursor: default;
	opacity: 0.9;
}

.carousel-indicators {
	bottom: 35px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 40px;
	width: 40px;
	outline: black;
	background-size: 100%, 100%;
	background-image: none;
}

.carousel-control-prev-icon:hover::after, .carousel-control-next-icon:hover::after,
	.carousel-control-prev-icon:focus::after, .carousel-control-next-icon:focus::after
	{
	opacity: 0.9;
}

.carousel-control-next-icon:after {
	content: '>';
	font-size: 40px;
	color: var(--dark-text);
	cursor: pointer;
	opacity: 0.5;
}

.carousel-control-prev-icon:after {
	content: '<';
	font-size: 40px;
	color: var(--dark-text);
	opacity: 0.5;
	cursor: pointer;
}

@media ( max-width : 768px) {
	.carousel-inner {
		height: 290px;
	}
	.carousel-control-prev {
		left: -25px;
		top: -90px;
	}
	.carousel-control-next {
		right: -25px;
		top: -90px;
	}
}