<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
</head>

<body>
<div id="technologies">
    <h1 class="line-highlight" style="margin-bottom: 0px; color: white;">
        Használt technológiák:</h1>
    <div class="underline"></div>
    <p>Javascript ES6</p>
    <p>Jquery</p>
    <p>Bootstrap</p>
    <p>CSS3</p>
    <p>Spring Boot</p>
    <p>Thymeleaf</p>
    <p>mySql</p>
</div>

<div id="ides">
    <h1 class="line-highlight" style="margin-bottom: 0px; color: white;">
        Használt fejlesztői környezetek:</h1>
    <div class="underline"></div>
    <p>IntelliJ IDEA</p>
    <p>Eclipse Jee</p>
</div>

<div id="todos">
    <h1 class="line-highlight" style="margin-bottom: 0px; color: white;">
        TODO:</h1>
    <div class="underline"></div>
    <p>Beállítható nyelvek használata(locals)</p>
    <p>Oath használata basic autentikáció helyett</p>
    <p>Identitás szerver használata(WSO2 eddig ami ingyenes és a
        legszimpatikusabb)</p>
</div>
</body>

</html>