<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>

<body>

<center class="logo-background">
    <div class="logo" style="display: inline-block;">myZug</div>

</center>


<div class="home-decor-line"></div>

<p style="margin-top: 60px">Üdv!</p>

<p>Wagner Zoltán vagyok, ennek a honlapnak(projekt nevén: myZug) a
    tulajdonosa. A fő célom az volt ezzel a weboldallal, hogy jobban
    megismerjem a CSS-t, Bootstrap-et és a JQuery előnyeit, illetve
    rájöjjek hogyan tud együttműködni egy MVC pattern keretein belül a
    Spring és a JavaScript.(és persze egy saját kis virtuális
    "játszóteret" aka. ZUG-ot teremtsek magamnak...) Nyilván
    megvalósításban vannak olyan megoldásaim amik nem professzionálisak, de
    igyekeztem a rutin hiányát egy kis találékonyásggal pótolni. Remélem a
    munkám elnyeri tetszését, jó böngészést!</p>

</body>

</html>