<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>standardCV</title>
</head>

<body>
<div class="felx-container standard-cv">

    <center style="margin-bottom: 20px;">
        <button class="btn btn-primary btn-print hidden-on-print"
                style="margin-right: 10vw">
            <i class="fas fa-print"></i> Nyomtatás
        </button>

        <a class="btn btn-primary btn-download hidden-on-print" style="color: white; " download>
            <i class="fas fa-save"></i> Mentés
        </a>

    </center>

    <div class="separator hidden-on-print"></div>

    <div class="row cv-wrapper">
        <div class="col-lg-3 col-md-3 col-12 intro"
             style="margin-bottom: 10px;">
            <center>
                <div style="text-align: left; padding: 10px;">
                    <img src="../image/ProfilSmall.jpg" class="avatar">

                    <h1 style="margin-bottom: 30px; color: white;">WAGNER ZOLTÁN</h1>

                    <p style="margin-bottom: 5px; color: white;">Villamosgépjármű
                        szerelő</p>

                    <p style="margin-bottom: 30px; color: white;">Születésnap:
                        1987.10.28.
                        </h5>

                    <h4 class="line-highlight"
                        style="margin-bottom: 10px; margin-left: 0px; background: white !important;">
                        BEMUTATKOZÁS:</h4>
                    <p style="margin-bottom: 5px; color: white;">Jó kommunikációs
                        készséggel rendelkezem, lojális, és ha kell kitartó vagyok a
                        kitűzött cél elérése érdekében. Szeretek csapatmban dolgozni, de
                        a megfelelő háttértudással az önálló munkavégzésben is megállom a
                        helyem. Nyitott vagyok új ismeretek elsajátítására ha a munkám
                        úgy kívánja, kiváltképp ha programozásról van szó. A jelenlegi
                        munkám során elengedhetetlen volt a kreativitás és
                        gyakorlatiasság elsajátítása (hibafeltárás) így ezeket a
                        képességeket a jövőben is kamatoztatni tudom.</p>
                </div>
                <div class="QR-code">
                    <p style="color: white">Link a honlapomhoz:</p>
                    <img src="image/qrcode.png">
                </div>
            </center>
        </div>

        <div class="col-lg-9 col-md-8 col-12 data">
            <h4 class="line-highlight" style="margin-bottom: 0px; color: white;">
                TAPASZTALAT:</h4>
            <div class="underline"></div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <h2 class="line-highlight"
                        style="margin-bottom: 10px; color: white;">
                        2008-<br/>
                    </h2>

                </div>
                <div class="col-12 col-md-9">
                    <h3 style="font-weight: 900;">Szegedi Közlekedési Társaság</h3>

                    <h4 style="margin-top: 0; margin-bottom: 10px;">
                        Villamosgépjármű szerelő</h4>

                    <p style="margin-top: 0; margin-bottom: 10px;">
                        Villamosgépjárművek hibafeltárása, javítása, régi járművek
                        felújítása, fedélzeti diagnosztikai szoftware írása CodeSys
                        2.3-ban, tanulók oktatása, kapcsolattartás írásban és szóban a
                        járművek vezérlésének karbantartóival angolul</p>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-12 col-md-3">
                    <h2 class="line-highlight"
                        style="margin-bottom: 10px; color: white;">
                        2014-<br/> 2014
                    </h2>

                </div>
                <div class="col-12 col-md-9">
                    <h3 style="font-weight: 900;">Magyar Telecom Zrt.</h3>

                    <h4 style="margin-top: 0; margin-bottom: 10px;">
                        Hibabejelentő asziszents</h4>

                    <p style="margin-top: 0; margin-bottom: 10px;">Telefonos
                        kommunikáció előfizetőkkel, ügyféladatok rögzítése, értékesítés,
                        "távszerelés", részmunkaidőben másodállásként.</p>
                </div>
            </div>

            <h4 class="line-highlight"
                style="margin-bottom: 0px; color: white; margin-top: 30px;">
                VÉGZETTSÉG:</h4>

            <div class="underline"></div>

            <div class="row">
                <div class="col-12 col-md-3">
                    <h2 class="line-highlight"
                        style="margin-bottom: 10px; color: white;">
                        2010-<br/> 2011
                    </h2>

                </div>
                <div class="col-12 col-md-9">
                    <h3 style="font-weight: 900;">Szegedi Tudományi Egyetem</h3>

                    <h4 style="margin-top: 0; margin-bottom: 10px;">Mérnökinformatika
                        (levelező)</h4>

                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-12 col-md-3">
                    <h2 class="line-highlight"
                        style="margin-bottom: 10px; color: white;">
                        2006-<br/> 2008
                    </h2>

                </div>
                <div class="col-12 col-md-9">
                    <h3 style="font-weight: 900;">Szegedi Gábor Dénes
                        Szakközépiskola</h3>

                    <h4 style="margin-top: 0; margin-bottom: 10px;">Műszaki
                        számítástechnikai technikum</h4>

                </div>
            </div>

            <div class="row" style="margin-top: 20px;">
                <div class="col-12 col-md-3">
                    <h2 class="line-highlight"
                        style="margin-bottom: 10px; color: white;">
                        2002-<br/> 2006
                    </h2>

                </div>
                <div class="col-12 col-md-9">
                    <h3 style="font-weight: 900;">Déri Miksa Szakközépiskola</h3>

                    <h4 style="margin-top: 0; margin-bottom: 10px;">Informatika</h4>

                </div>
            </div>

            <h4 class="line-highlight"
                style="margin-bottom: 0px; color: white; margin-top: 30px;">
                NYELVISMERET:</h4>

            <div class="underline"></div>

            <div class="row">
                <div class="col-5 col-md-2">
                    <h4>ANGOL</h4>
                </div>
                <div class="col-7 col-md-10">
                    <p>középfokú nyelvvizsga</p>
                </div>
            </div>

            <h4 class="line-highlight"
                style="margin-bottom: 0px; color: white; margin-top: 30px;">
                HOBBI:</h4>

            <div class="underline"></div>

            <p>programozás(JavaEE, Spring, JavaScript, MySQL, JavaSE, Git,
                Clean Coding), geocaching, olvasás, futás, biciklizés, kalandparkok
                látogatása, fejtörők-, keresztrejtvények fejtése, sudoku</p>

            <h4 class="line-highlight"
                style="margin-bottom: 0px; color: white; margin-top: 30px;">
                TANFOLYAMOK:</h4>

            <div class="underline"></div>
            <div class="courses">
                <div class="row">
                    <div class="col-5 col-md-2" style="margin-top: 0; margin: auto;">
                        <p>ECDL</p>
                    </div>
                    <div class="col-7 col-md-10" style="margin-top: 0; margin: auto;">
                        <p></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 col-md-2" style="margin-top: 0; margin: auto;">
                        <p>JAVA SE</p>
                    </div>
                    <div class="col-7 col-md-10" style="margin-top: 0; margin: auto;">
                        <p>Ruander oktatóközpont</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 col-md-2" style="margin-top: 0; margin: auto;">
                        <p>JAVA EE</p>
                    </div>
                    <div class="col-7 col-md-10" style="margin-top: 0; margin: auto;">
                        <p>Ruander oktatóközpont</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 col-md-2" style="margin-top: 0; margin: auto;">
                        <p>JavaScript</p>
                    </div>
                    <div class="col-7 col-md-10" style="margin-top: 0; margin: auto;">
                        <p>Udemy</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 col-md-2" style="margin-top: 0; margin: auto;">
                        <p>Spring</p>
                    </div>
                    <div class="col-7 col-md-10" style="margin-top: 0; margin: auto;">
                        <p>Udemy</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 col-md-2" style="margin-top: 0; margin: auto;">
                        <p>Oktatói Vizsga</p>
                    </div>
                    <div class="col-7 col-md-10" style="margin-top: 0; margin: auto;">
                        <p>Szegedi Ipari Kamara</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>